@model personalSiteMVCV2._0.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "ContactConfirmation";
}
<div id="colorlib-main">
    <div class="colorlib-contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="heading-meta">Contact</span>
                    <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Talk to you soon!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                    <h2>
                        Thank you for contacting us, @Model.Name!<br />
                        We will get back to you within 24 hours.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    @*<div id="map"></div>*@
</div>

