@{
    ViewBag.Title = "Home Page";
}

<div id="colorlib-main">
    <aside id="colorlib-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
                <li id="homePic1">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-md-pull-2 js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h1>Design &amp; Develop Functional Sites</h1>
                                        <h2>Anything from Static, Dynamic, to full Data-Driven web applications.</h2>
                                        <p><a class="btn btn-primary btn-learn" href="/Home/About">Learn More<i class="icon-arrow-right3"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="homePic2">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-md-pull-2 js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h1>A Matter of the Utmost Importance</h1>
                                        <h2>Style seems to be everything, but without proper function, form is nothing.</h2>
                                        <p><a class="btn btn-primary btn-learn" href="/Home/About">Learn More<i class="icon-arrow-right3"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="homePic3">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-md-pull-2 js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h1>Intelligent Design for Brands</h1>
                                        <h2>Focus on customer satisfaction with unrivaled accuracy.</h2>
                                        <p><a class="btn btn-primary btn-learn" href="/Home/About">Learn More<i class="icon-arrow-right3"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="get-in-touch" class="colorlib-bg-color">
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <h2>Get in Touch!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <p class="colorlib-lead">Please feel free to contact me through social media, by phone, or email.</p>
                    <p><a href="/Home/Contact" class="btn btn-primary btn-learn">Contact me!</a></p>
                </div>

            </div>
        </div>
    </div>
</div>
