
@{
    ViewBag.Title = "Index";
}

<div id="colorlib-main">
    <div class="colorlib-blog">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                    <span class="heading-meta">Team</span>
                    <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Centriq Training</h2>
                    <p>
                        <strong>
                            I am truly humbled to have worked along side my colleagues. They've invested a lot of time into their projects as I have.<br />
                            We've grown as a team and lend a hand to one another when in need.<br />
                            I will be forever grateful to have shared the same path as them for the past four months.
                         </strong>
                    </p>
                </div>
            </div>

            <div class="content">
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="heading">Team/Classmates</h2>
                            <p class="text-center">Click Image to visit their Website.</p>

                            <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4"></li>
                                    <li data-target="#myCarousel" data-slide-to="5"></li>
                                    <li data-target="#myCarousel" data-slide-to="6"></li>
                                    <li data-target="#myCarousel" data-slide-to="7"></li>
                                    <li data-target="#myCarousel" data-slide-to="8"></li>
                                    <li data-target="#myCarousel" data-slide-to="9"></li>
                                    <li data-target="#myCarousel" data-slide-to="10"></li>
                                </ol>
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href="http://codecrane.net/" target="_blank"><img src="~/Content/images/DoR/Classmates/DavidCrane_1_1.jpg" alt="First Slide"></a>
                                        <div class="carousel-caption">
                                            <p>David Crane</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://taylormcknight.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/taylor_bio.jpg" alt="Second Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Taylor McKnight</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://benmulforddev.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/BenMulford.jpg" alt="Third Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Ben Mulford</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://devconl.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/ConnorLutes_3.jpg" alt="Fourth Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Connor Lutes</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://grantmillerdev.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/GrantMiller_2.jpg" alt="Fifth Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Grant Miller</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://gregcdev.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/Greg_Curtis.jpg" alt="Sixth Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Greg Curtis</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://agentmcoding.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/MeleaDuncan.jpg" alt="Seventh Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Melea Duncan</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://wolfcoding.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/20171109_131605.jpg" alt="Eighth Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Melinda Wolf</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://CarpeDev.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/thumbnail_BrendanCarpenter.jpg" alt="Nineth Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Brendan Carpenter</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://bmariecoding.com/" target="_blank"><img src="~/Content/images/DoR/Classmates/BriannaShaffar.jpg" alt="Tenth Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Brianna Shaffar</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href="http://kevthedev.net/" target="_blank"><img src="~/Content/images/DoR/Classmates/generic_blue_person.jpg" alt="Eleventh Slide"></a>
                                        <div class="carousel-caption">
                                            <p>Kevin Starkey</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div id="get-in-touch" class="colorlib-bg-color">
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <h2>Get in Touch!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <p class="colorlib-lead">Please feel free to contact me through social media, by phone, or email.</p>
                    <p><a href="/Home/Contact" class="btn btn-primary btn-learn">Contact me!</a></p>
                </div>

            </div>
        </div>
    </div>
</div>

