
@{
    ViewBag.Title = "Services";
}

<div id="colorlib-main">
    <div class="colorlib-services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                    <span class="heading-meta">What I do?</span>
                    <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Here are some of my expertise</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-tag"></i>
                        </div>
                        <div class="colorlib-text">
                            <h3>Branding</h3>
                            <p>With my meticulous attention to detail, I will strive for greatness to improve <strong>YOUR BRAND</strong>. </p>
                        </div>
                    </div>
                    <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-pen2"></i>
                        </div>
                        <div class="colorlib-text">
                            <h3>Web Design</h3>
                            <p>The first step, is the most important step. Whether it's over-the-phone or in-person consultation, I will work with you to build a solid foundation before moving onto development. </p>
                        </div>
                    </div>
                    <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-search3"></i>
                        </div>
                        <div class="colorlib-text">
                            <h3>Search engine optimization</h3>
                            <p>Put simply down to brass tacks...I will put you on the "Map". </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-paperplane"></i>
                        </div>
                        <div class="colorlib-text">
                            <h3>Web Development</h3>
                            <p>Customer satisfaction is my #1 goal. From your dream to reality, I will work hard to meet your expectations 100%. </p>
                        </div>
                    </div>
                    <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-device-desktop"></i>
                        </div>
                        <div class="colorlib-text">
                            <h3>User Interface</h3>
                            <p>I will think of bespoke features to ensure user experience is second to none. </p>
                        </div>
                    </div>
                    <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-help"></i>
                        </div>
                        <div class="colorlib-text">
                            <h3>Help &amp; Support</h3>
                            <p>Stop worrying about all the technical confusion. I will gladly take the time to fix issues, and explain all the details in ways that are easier to understand. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="get-in-touch" class="colorlib-bg-color">
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <h2>Get in Touch!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <p class="colorlib-lead">Please feel free to contact me through social media, by phone, or email.</p>
                    <p><a href="/Home/Contact" class="btn btn-primary btn-learn">Contact me!</a></p>
                </div>

            </div>
        </div>
    </div>
</div>

