
@{
    ViewBag.Title = "Work/Portfolio";
}

<div id="colorlib-main">
    <div class="colorlib-blog">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                    <span class="heading-meta">Work</span>
                    <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Portfolio</h2>
                    <p>
                        <strong>*Some of the projects below are under construction. I apologize for the inconvinience.</strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="http://ustore.devsofraph.com" target="_blank" class="blog-img"><img src="~/Content/images/DoR/Screenshot (104).png" class="img-responsive" alt="uStore Project"></a>
                        <div class="desc">
                            <span><small>Apr 18, 2018 </small> | <small>Dynamic Data-Driven Web Design </small></span>
                            <h3><a href="http://ustore.devsofraph.com" target="_blank">uStore</a></h3>
                            <p>Mock Online Shopping store.</p>
                            <a href="http://ustore.devsofraph.com" target="_blank" class="lead">Visit Site <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="blog.html" class="blog-img"><img src="~/Content/images/DoR/Screenshot (105).png" class="img-responsive" alt="Wizard Works Project"></a>
                        <div class="desc">
                            <span><small>Mar 24, 2018 </small> | <small>Static Web Design </small></span>
                            <h3><a href="blog.html">Wizard Works</a></h3>
                            <p>From humble beginnings, my first static HTML page project.</p>
                            <a href="blog.html" class="lead">Visit Site  <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="@Url.Action("Resume", "Portfolio")" class="blog-img"><img src="~/Content/images/DoR/Screenshot (103).png" class="img-responsive" alt="Raphael Engbarth Resume"></a>
                        <div class="desc">
                            <span><small>Mar 28, 2018 </small> | <small> Static Web Design </small></span>
                            <h3><a href="@Url.Action("Resume", "Portfolio")">Resume</a></h3>
                            <p>My personal resume in static HTML.</p>
                            <a href="@Url.Action("Resume", "Portfolio")" class="lead">Visit Page <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="http://sat.devsofraph.com" target="_blank" class="blog-img"><img src="~/Content/images/DoR/Screenshot (106).png" class="img-responsive" alt="School Schedule Tool/App"></a>
                        <div class="desc">
                            <span><small>May 07, 2018 </small> | <small> Dynamic Data-Driven Web Design </small></span>
                            <h3><a href="http://sat.devsofraph.com" target="_blank">School Schedule Tool/App</a></h3>
                            <p>
                                A data-driven application made for Teachers, Students and other roles.<br />
                                <strong>*UPON REQUEST I CAN PROVIDE CREDENTIALS(If you are interested in checking out the functionality)</strong>
                            </p>
                            <a href="http://sat.devsofraph.com" target="_blank" class="lead">Visit Site <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="blog.html" class="blog-img"><img src="~/Content/images/img-5.jpg" class="img-responsive" alt=""></a>
                        <div class="desc">
                            <span><small>Jan 01, 2000 </small> | <small> SAMPLE </small></span>
                            <h3><a href="blog.html">COMING SOON</a></h3>
                            <p>COMING SOON.</p>
                            <a href="blog.html" class="lead">Visit Site <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="blog.html" class="blog-img"><img src="~/Content/images/img-6.jpg" class="img-responsive" alt=""></a>
                        <div class="desc">
                            <span><small>Jan 01, 2000 </small> | <small> SAMPLE </small> | <small> <i class="icon-bubble3"></i> 0</small></span>
                            <h3><a href="blog.html">COMING SOON</a></h3>
                            <p>COMING SOON.</p>
                            <a href="blog.html" class="lead">Visit Site <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="get-in-touch" class="colorlib-bg-color">
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <h2>Get in Touch!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <p class="colorlib-lead">Please feel free to contact me through social media, by phone, or email.</p>
                    <p><a href="/Home/Contact" class="btn btn-primary btn-learn">Contact me!</a></p>
                </div>

            </div>
        </div>
    </div>
</div>

