@{ 
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Resume | Raphael Engbarth</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/Resume/default.css">
    <link rel="stylesheet" href="~/Content/Resume/layout.css">
    <link rel="stylesheet" href="~/Content/Resume/media-queries.css">
    <link rel="stylesheet" href="~/Content/Resume/magnific-popup.css">

    <!-- Script
    ================================================== -->
    <script src="~/Scripts/Resume_scripts/modernizr.js"></script>

    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href="~/Content/Images/Resume_Images/favicon.png">

</head>

<body>

    <!-- Header
    ================================================== -->
    <header id="home">

        <nav id="nav-wrap">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                <li><a class="smoothscroll" href="#about">About</a></li>
                <li><a class="smoothscroll" href="#resume">Resume</a></li>
                @*<li><a class="smoothscroll" href="#portfolio">Works</a></li>
                <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
                <li><a class="smoothscroll" href="#contact">Contact</a></li>*@
            </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->

        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">I'm Raphael Engbarth.</h1>
                <h3>
                    Let's <a class="smoothscroll" href="#about">start scrolling</a>
                    and learn more <a class="smoothscroll" href="#about">about me</a>.
                </h3>
                <hr />
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>

        <p class="scrolldown">
            <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>

    </header> <!-- Header End -->
    <!-- About Section
    ================================================== -->
    <section id="about">

        <div class="row">

            <div class="three columns">

                <img class="profile-pic" src="images/profilepic.jpg" alt="" />

            </div>

            <div class="nine columns main-col">

                <h2>About Me</h2>

                <p>
                    I am a 27 year old .Net Developer.
                    Prior to pursuing a carrer in .Net Development, I proudly served in the United States Army for 6 years.
                    While serving, I chose a path to be in the medical field as a combat medic. Simultaneously I also started a carrer part time as a
                    Automotive Technician and Fabricator.
                    Unforunately when it came to converting a hobby into a profession, it took away the passion and spark from the hobby. 
                    Luckily, I was introduced to a deeper level of Technology, where I discovered profound love for Development and Coding.
                </p>

                <div class="row">

                    <div class="columns contact-details">

                        <h2>Contact Details</h2>
                        <p class="address">
                            <span>Raphael Engbarth</span><br>
                            <span>
                                1312 Kimberly Dr.<br>
                                Warrensburg, MO 64093 US
                            </span><br>
                            <span>(660)909-1641</span><br>
                            <span><a href="http://devsofraph.com" target="_blank">devsofraph.com</a></span>
                        </p>

                    </div>

                    <div class="columns download">
                        <p>
                            <a href="~/Content/Resume/Raphael Engbarth Resume IT.pdf" target="_blank" class="button"><i class="fa fa-download"></i>Download Resume</a>
                        </p>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end .main-col -->

        </div>

    </section> <!-- About Section End-->
    <!-- Resume Section
    ================================================== -->
    <section id="resume">

        <!-- Education
        ----------------------------------------------- -->
        <div class="row education">

            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Warrensburg High School</h3>
                        <p class="info">High School Diploma <span>&bull;</span> <em class="date">May 2010</em></p>

                        <p>
                            I attended Warrensburg High School from 2008-2010.<br />
                            Prior to enrolling to Warrensburg High School, I attended Knob Noster High School due to living on Whiteman AFB.
                            Simultaneously while attending WHS, I also attended Warrensburg Area Career Center Vocational School and 
                            enrolled for Online Classes through Park Univerity.
                            I received a certification for Automotive Collision Repair as well as a few college credits for the Online classes I was enrolled in..
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Centriq Training</h3>
                        <p class="info">Full-Stack Web Developer <span>&bull;</span> <em class="date">Feb. 2018</em></p>

                        <p>
                            I enrolled to Centriq Training in Feb. 2018, and am completing the track mid-June 2018.<br />
                            Several months ago, I decided to make a change and pursue a career in an ever-growing industry of technology.<br /><br />
                            Why did I choose the path of becoming a Developer?<br /> The answer is simple: I have always been intrigued with building things and
                            I was longing for something that would bring me more challenges and opportunities to continuously learn and grow into a .NET Developer.  
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Education -->
        <!-- Work
        ----------------------------------------------- -->
        <div class="row work">

            <div class="three columns header-col">
                <h1><span>Work</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>State of Missouri</h3>
                        <p class="info">Developmental Assistant <span>&bull;</span> <em class="date">January 2018 - March 2018</em></p>

                        <ul>
                            <li>Provided care to individuals with intellectual disabilities</li>
                            <li>Performed various tasks to increase clients quality of life</li>
                            <li>Completed shift logs and reports daily</li>
                        </ul>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>BP Corporation</h3>
                        <p class="info">Mechanic/Inspector <span>&bull;</span> <em class="date">October 2016 - October 2017</em></p>

                        <ul>
                            <li>Lead in maintenance, repairs, and road inspections</li>
                            <li>Assisted in various tasks including body repair, welding, paint, assembly and disassembly, social media management, sales and customer service</li>
                            <li>Specializing in American Imports</li>
                            <li>Maintaining, Diagnosing, and Restoring Vehicles</li>
                        </ul>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Fat Five Racing</h3>
                        <p class="info">Mechanic/Fabricator <span>&bull;</span> <em class="date">June 2015 - February 2016</em></p>

                        <ul>
                            <li>Perform maintenance, repairs, and chassis modifications</li>
                            <li>Full custom competition vehicle builds</li>
                            <li>Race support for customers, employer, and the competition</li>
                            <li>Transport Vehicles (1 or 2 car transporter)</li>
                        </ul>

                    </div>

                </div> <!-- item end -->
                <div class="row item">

                    <div class="twelve columns">

                        <h3>Merchant's Tire and Auto</h3>
                        <p class="info">Automotive Mechanic <span>&bull;</span> <em class="date">May 2011 - January 2014</em></p>

                        <ul>
                            <li>Perform Basic and Advanced Automotive diagnostics and repair</li>
                            <li>Visually explain needed repairs and provide basic safety equipment for customers</li>
                            <li>Directed work orders </li>
                            <li>Supervised and Trained new hourly employees</li>
                            <li>Close out work orders (Cash Register)</li>
                        </ul>

                    </div>

                </div> <!-- item end -->
                <div class="row item">

                    <div class="twelve columns">

                        <h3>United States Army</h3>
                        <p class="info">Enlisted Personnel/Combat Medic <span>&bull;</span> <em class="date">April 2008 - January 2014</em></p>

                        <ul>
                            <li>Completed IET</li>
                            <li>68W10 and NREMT Qualified</li>
                            <li>Earned multiple ribbons and weapon qualifications</li>
                            <li>Supervised and Trained new soldiers</li>
                        </ul>


                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Work -->
        <!-- Skills
        ----------------------------------------------- -->
        <div class="row skill">

            <div class="three columns header-col">
                <h1><span>Skills</span></h1>
            </div>

            <div class="nine columns main-col">

                <p>
                    While attending Centriq Training, I have been introduced and exposed to a wide variety of content.
                    Although I have not mastered any of the skills listed below, I am proficient and possess the ability to swiftly adapt and learn to grow into a successful developer.
                </p>

                <div class="bars">

                    <ul class="skills">
                        <li><span class="bar-expand dotnet"></span><em>.NET</em></li>
                        <li><span class="bar-expand csharp"></span><em>C#</em></li>
                        <li><span class="bar-expand msvs"></span><em>Microsoft Visual Studio</em></li>
                        <li><span class="bar-expand jscript"></span><em>JavaScript</em></li>
                        <li><span class="bar-expand sql"></span><em>SQL</em></li>
                        <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                        <li><span class="bar-expand netmvc"></span><em>ASP.NET MVC</em></li>
                        <li><span class="bar-expand linq"></span><em>LINQ</em></li>
                        <li><span class="bar-expand css"></span><em>CSS</em></li>
                        <li><span class="bar-expand json"></span><em>JSON</em></li>
                        <li><span class="bar-expand bootstrap"></span><em>Bootstrap</em></li>

                    </ul>

                </div><!-- end skill-bars -->

            </div> <!-- main-col end -->

        </div> <!-- End skills -->

    </section> <!-- Resume Section End-->
    <!-- footer
    ================================================== -->
    <footer>

        <div class="row">

            <div class="twelve columns">

                @*<ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>*@

                <ul class="copyright">
                    <li>&copy; @DateTime.Now.Year Raphael Engbarth</li>
                    <li>Template by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
                </ul>

            </div>

            <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

        </div>

    </footer> <!-- Footer End-->
    <!-- Java Script
    ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/Resume_scripts/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="~/Scripts/Resume_scripts/jquery-migrate-1.2.1.min.js"></script>

    <script src="~/Scripts/Resume_scripts/jquery.flexslider.js"></script>
    <script src="~/Scripts/Resume_scripts/waypoints.js"></script>
    <script src="~/Scripts/Resume_scripts/jquery.fittext.js"></script>
    <script src="~/Scripts/Resume_scripts/magnific-popup.js"></script>
    <script src="~/Scripts/Resume_scripts/init.js"></script>

</body>

</html>